.carousel {
  padding: 1rem 40px;
  font-size: 1rem;
  position: relative;
  width: 100%;
}

.carousel .switchLeft,
.carousel .switchRight {
  color: white;
  font-weight: bold;
  width: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  top: calc(36px + 16px + 16.08px + 16.08px);
  bottom: calc(60.766px + 16px);
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
}

.carousel .switchLeft {
  left: 40px;
}

.carousel .switchRight {
  right: 40px;
}

.carousel .switchLeft:hover,
.carousel .switchLeft:active,
.carousel .switchRight:hover,
.carousel .switchRight:active {
  background: rgba(0, 0, 0, 0.5);
}
.carousel .castForward,
.carousel .castBackward {
  bottom: calc(21px + 21px + 14px + 1rem);
}
.carouselbox {
  overflow: hidden;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  gap: 10px;
  /* border: 1px solid red; */
  /* align-items: center; */
}
.carouselbox > a {
  scroll-snap-align: end;
  scroll-snap-stop: always;
  overflow: hidden;
  min-width: calc(calc(100% - 40px) / 5);
}
.cast > a {
  min-width: calc(calc(100% - 50px) / 6);
}

.carouselbox::-webkit-scrollbar {
  display: none;
}

.title {
  align-self: flex-start;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Roboto;
}
.title .explore {
  font-size: 0.8rem;
  color: #2296f3;
  padding-left: 0.5rem;
}
.visable {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}

@media (max-width: 1024px) {
  .carouselbox > a {
    min-width: calc(calc(100% - 30px) / 4);
  }
  .cast > a {
    min-width: calc(calc(100% - 40px) / 5);
  }
}
@media (max-width: 769px) {
  .carousel {
    padding: 1rem;
  }

  .carousel .switchLeft,
  .carousel .switchRight {
    display: none;
  }
}
@media (max-width: 640px) {
  .carouselbox > a {
    min-width: calc(calc(100% - 20px) / 3);
  }
  .cast > a {
    min-width: calc(calc(100% - 30px) / 4);
  }
}
